* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(22, 22, 30);
}


.inactive {
    display: none;
}

.header-section{
    display: none;
    background-color: rgb(34, 33, 44);
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0px;

}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

.menu-item {
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.menu-item p{
    font-size: .6rem;
    color: rgb(200, 199, 238);
}

.menu-icon--color {
    color: rgb(200, 199, 238);
    transform: scale(1.3);
}


.search-bar-section{
    margin-top: 20px; 
}
.search-bar-section p {
    color: white;
    font-size: .8rem;
    margin-left: 23px;
    margin-bottom: 8px;
}

.search-bar-container {
    display: flex;
    width: 88%;
    height: 30px;
    background-color: rgba(87, 86, 110, 0.584);
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.search-bar-container input{
    width: 88%;
    height: 24px;
    padding-left: 10px;
    border: none;
    background-color: rgba(87, 86, 110, 0);
    color: white;
}

.search-bar-container input::placeholder {
    color: rgb(200, 199, 238);
}

.search-bar-container input:focus {
    outline: none;
}

.search-bar-container i {
    margin-left: 5px;
    color: rgb(200, 199, 238);
}

.trends-section p {
    color: white;
    font-size: .8rem;
    margin-left: 23px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.general-movie-container {
    width: 90%;
    display: flex;
    overflow-y: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin: auto;
}

.movie-image {
    width: 110px;
    margin-right: 4px;
}

.recommended-movie-section {
    color: white;
    width: 90%;
    font-size: .8rem;
    margin-left: 23px;
    margin-top: 25px;
    margin-bottom: 10px;
    position: relative;
}

.recommended-movie-section-title {
    margin-bottom: 10px;
}

.recommended-movie-section-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.banner-container {
    position: relative;
}

.banner-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(101, 96, 160, 0) 0%, rgba(7, 119, 24, 0) 30%, rgb(22, 22, 30) 80%);
    opacity: .9;
    right: 0;
    left: 0;
}

.movie-title-banner {
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
    margin-left: 23px;
}

.recommended-categories-section {
    margin-bottom: 60px;
}

.recommended-crime, .recommended-documentaries {
    color: white;
    font-size: .8rem;
    margin-left: 23px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.movie-genres-section {
    margin-top: 40px;
    margin-bottom: 75px;
}

.genre-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(19, 19, 32);
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.movie-detail-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.movie-detail-backposter {
    width: 100%;
    height: 403px;
    background-image: url('https://image.tmdb.org/t/p/w780/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
}

.movie-info-img {
    width: 100%;
}

.movie-info-container {
    width: 100%;
    padding-left: 23px;
    padding-right: 23px;
    background-color: white;
    border-radius: 15px 15px 0 0;
    position: absolute;
    margin-top: 1230px;
    z-index: 1;
}

.movie-title-container {
    display: flex;
    margin-bottom: 12px;
    margin-top: 20px;
}

.movie-detail-title {
    color: rgb(22, 22, 30);;
    width: 85%;
    font-size: 1.8rem;
    font-weight: bold;
}

.movie-detail-rating {
    color: rgb(22, 22, 30);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-star {
    color: rgb(233, 135, 23);
}

.movie-detail-description {
    color: rgb(22, 22, 30);;
    font-size: .8rem;
    text-align: justify;
    margin-bottom: 20px;
}

.movie-genre-info {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.movie-genre-info p {
    text-align: left;
    margin-right: 10px;
    font-size: .7rem;
    color: rgb(56, 56, 56);
}

.similar-movies-container {
    margin-bottom: 50px;
    width: 100%;
    margin-left: 0;
}

.similar-movies-title {
    font-weight: bold;
    margin-bottom: 10px;
}