* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --body-color: rgb(9, 8, 17);
    --main-red-color: rgb(255, 31, 31);
    --main-text-color: white;
}

html {
    font-size: 62,5%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-color);
}


.inactive {
    display: none;
}

.loggin-header-section {
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.loggin-header-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.subscription-container {
    display: flex;
    align-items: center;
}

.subscription-container p {
    align-items: center;
    color: var(--main-text-color);
    font-size: .7rem;
    margin-right: 10px;
}

.subscription-container button {
    width: 85px;
    height: 28px;
    color: var(--main-text-color);
    background-color: var(--main-red-color);
    border: none;
    border-radius: 25px;
    font-size: .7rem;
    letter-spacing: .05rem;
}

.web-logo {
    color: var(--main-text-color);
    font-size: .1.3rem;
}

.web-logo span {
    color: var(--main-red-color);
}

.history-back-container {
    width: 30px;
    height: 30px;
    margin-left: 28px;
    margin-top: 25px;
}

.history-back {
    color: var(--main-text-color);
    scale: 1.5;
}

.header-section{
    display: flex;
    background-color: var(--body-color);
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0px;
    opacity: .8;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

.menu-item {
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.menu-item p{
    font-size: .6rem;
    color: rgb(200, 199, 238);
}

.menu-icon--color {
    color: rgb(200, 199, 238);
    transform: scale(1.3);
}


.search-bar-section{
    margin-top: 20px; 
}
.search-bar-section p {
    color: var(--main-text-color);
    font-size: .8rem;
    margin-left: 23px;
    margin-bottom: 8px;
}

.search-bar-container {
    display: flex;
    width: 88%;
    height: 30px;
    background-color: rgba(87, 86, 110, 0.584);
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.search-bar-container input{
    width: 88%;
    height: 24px;
    padding-left: 10px;
    border: none;
    background-color: rgba(87, 86, 110, 0);
    color: var(--main-text-color);
}

.search-bar-container input::placeholder {
    color: rgb(200, 199, 238);
}

.search-bar-container input:focus {
    outline: none;
}

.search-bar-container i {
    margin-left: 5px;
    color: rgb(200, 199, 238);
}

.trends-section p {
    color: var(--main-text-color);
    font-size: .8rem;
    margin-left: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.general-movie-container {
    width: 90%;
    display: flex;
    overflow-y: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    margin: auto;
}

.movie-image {
    width: 150px;
    margin-right: 4px;
}

.recommended-movie-section {
    color: var(--main-text-color);
    width: 90%;
    font-size: .8rem;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 8px;
    position: relative;
}

.recommended-movie-section-title {
    margin-bottom: 10px;
}

.recommended-movie-section-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.banner-container {
    position: relative;
}

.banner-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,0) 11%, rgba(9,8,17,0.7511379551820728) 60%, rgba(9,8,17,1) 100%);
    opacity: .9;
    right: 0;
    left: 0;
}

.movie-title-banner {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-bottom: 8px;
    margin-right: 23px;
    margin-bottom: 5px;
    text-align: right;
}

.recommended-categories-section {
    margin-bottom: 60px;
}

.recommended-crime, .recommended-documentaries {
    color: var(--main-text-color);
    font-size: .8rem;
    margin-left: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movie-genres-section {
    margin-top: 40px;
    margin-bottom: 75px;
}

.genre-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(19, 19, 32);
    color: var(--main-text-color);
    font-weight: bold;
    border-radius: 6px;
}


.movie-detail-backposter {
    width: 100%;
    height: 415px;
    background-size: cover !important;
    position: fixed;
    top: 0;
}

.movie-info-img {
    width: 100%;
}

.movie-info-container {
    width: 100%;
    padding-left: 23px;
    padding-right: 23px;
    background-color: var(--main-text-color);
    border-radius: 15px 15px 0 0;
    position: absolute;
    margin-top: 380px;
}

.movie-title-container {
    display: flex;
    margin-bottom: 12px;
    margin-top: 20px;
}

.movie-detail-title {
    color: rgb(22, 22, 30);;
    width: 85%;
    font-size: 1.8rem;
    font-weight: bold;
}

.movie-detail-rating {
    color: rgb(22, 22, 30);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-star {
    color: rgb(233, 135, 23);
    padding-bottom: 4px;
    padding-right: 5px;
}

.movie-detail-description {
    color: rgb(22, 22, 30);;
    font-size: .8rem;
    text-align: justify;
    margin-bottom: 20px;
}

.movie-genre-info {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.movie-genre-info p {
    text-align: left;
    margin-right: 10px;
    font-size: .7rem;
    color: rgb(56, 56, 56);
}

.similar-movies-container {
    margin-bottom: 50px;
    width: 100%;
    margin-left: 0;
}

.similar-movies-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.movies-by-genres-container {
    display: block;
    width: 91.5%;
    margin: 0 auto;
    margin-top: 12px;
}

.search-movies-results-section {
    width: 100%;
}

.search-movies-results-container {
    width: 93%;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 6px;
}

.searchButtonAction {
    width: 40px;
    background: none;
    border: none;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .loggin-solgan {
    display: block;
    margin: auto;
    text-align: center;
    width: 250px;
    color: var(--main-text-color);
    font-size: 1.5rem;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .loggin-form {
    display: flex;
    flex-direction: column;
    width: 285px;
    justify-content: center;
    margin: auto;
  }

  .loggin-form label {
    color: var(--main-text-color);
    font-size: .8rem;
    margin-bottom: 6px;
  }

  .loggin-form input {
    width: 285px;
    height: 28px;
    border: none;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 15px;
  }

  .loggin-form input:focus {
    outline: none;
  }

  .loggin-form button {
    margin-top: 80px;
    width: 285px;
    height: 28px;
    border: none;
    border-radius: 6px;
    background-color: var(--main-red-color);
    color: var(--main-text-color);
  }

.favorites-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

.favorites-container img{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.favorites-container p {
    text-align: center;
    color: var(--main-text-color);
    font-size: 2rem;
}